{% extends 'base.html' %}

{% block title %}
    Create Project
{% endblock %}

{% block content %}
    <h1>Create Project</h1>
    <form action="/process_project_add" method="POST">
        <label for="field-name-title">
            <input type="text" name="title" id="field-name-title" />
        </label>
        <br />
        <label for="field-name-description">
            <textarea name="description" id="field-name-description"></textarea>
        </label>
        <br />
        <label for="field-name-max-grade">
            <input type="text" name="max_grade" id="field-name-max-grade" />
        </label>
        <br />
        <input type="submit" />
    </form>
{% endblock %}